ModelCore/Schema/TurnKey/A0102.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:GEINV:eInvoiceMessage:A0102:4.1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GEINV:eInvoiceMessage:A0102:4.1"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="GenericType_4.0.xsd" />
	<!-- 發票接收確認: A0102 -->
	<xsd:element name="InvoiceConfirm">
		<xsd:complexType>
			<xsd:all>
				<!-- 發票號碼 -->
				<xsd:element name="InvoiceNumber" type="InvoiceNumberType" />
				<!-- 發票日期 -->
				<xsd:element name="InvoiceDate" type="DateType" />
				<!-- 買方識別碼 -->
				<xsd:element name="BuyerId" type="BAN"/>
				<!-- 賣方識別碼 -->
				<xsd:element name="SellerId" type="BAN"/>
				<!-- 接收日期 -->
				<xsd:element name="ReceiveDate" type="DateType" />
				<!-- 接收時間 -->
				<xsd:element name="ReceiveTime" type="TimeType" />
				<!-- 買受人註記 -->
				<xsd:element name="BuyerRemark" type="BuyerRemarkEnum" minOccurs="0" />
				<!-- 備註 -->
				<xsd:element name="Remark" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="collapse"/>
							<xsd:maxLength value="200" />
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<!-- 買受人簽署適用零稅率註記 -->
				<xsd:element name="BondedAreaConfirm" type="BondedAreaEnum" minOccurs="0" />
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
