ModelCore/Schema/TurnKey/A0302.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:GEINV:eInvoiceMessage:A0302:4.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GEINV:eInvoiceMessage:A0302:4.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="GenericType_4.0.xsd"/>
	<!-- 退回發票接收確認 A0302 -->
	<xsd:element name="RejectInvoiceConfirm">
		<xsd:complexType>
			<xsd:all>
				<!-- 退回發票號碼 -->
				<xsd:element name="RejectInvoiceNumber" type="InvoiceNumberType"/>
				<!-- 發票日期 -->
				<xsd:element name="InvoiceDate" type="DateType"/>
				<!-- 買方識別碼 -->
				<xsd:element name="BuyerId" type="BAN" />
				<!-- 賣方識別碼 -->
				<xsd:element name="SellerId" type="BAN" />
				<!-- 接收日期 -->
				<xsd:element name="RejectDate" type="DateType"/>
				<!-- 接收時間 -->
				<xsd:element name="RejectTime" type="TimeType"/>
				<!-- 備註 -->
				<xsd:element name="Remark" minOccurs="0">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:whiteSpace value="collapse"/>
							<xsd:maxLength value="200"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
