ModelCore/Schema/TurnKey/B0101.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:GEINV:eInvoiceMessage:B0101:4.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:GEINV:eInvoiceMessage:B0101:4.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="GenericType_4.0.xsd"/>
	<!-- 開立折讓證明單: B0101 -->
	<xsd:element name="Allowance">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="Main" type="Main"/>
				<xsd:element name="Details" type="Details"/>
				<xsd:element name="Amount" type="Amount"/>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<!-- 主檔資料 -->
	<xsd:complexType name="Main">
		<xsd:all>
			<!-- 折讓證明單單號 -->
			<xsd:element name="AllowanceNumber" type="AllowanceNumberType"/>
			<!-- 折讓證明單日期 -->
			<xsd:element name="AllowanceDate" type="DateType"/>
			<!-- 賣方資訊 -->
			<xsd:element name="Seller">
				<xsd:complexType mixed="false">
					<xsd:group ref="RoleDescriptionType"/>
				</xsd:complexType>
			</xsd:element>
			<!-- 買方資訊 -->
			<xsd:element name="Buyer">
				<xsd:complexType mixed="false">
					<xsd:group ref="RoleDescriptionType"/>
				</xsd:complexType>
			</xsd:element>
			<!-- 折讓種類 -->
			<xsd:element name="AllowanceType" type="AllowanceTypeEnum"/>
			<!-- 原始發票賣方統編欄位 -->
			<xsd:element name="OriginalInvoiceSellerId" type="BAN"  minOccurs="0"/>
			<!-- 原始發票買方統編欄位 -->
			<xsd:element name="OriginalInvoiceBuyerId" type="BAN"  minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<!-- 明細資料 -->
	<xsd:complexType name="Details">
		<xsd:sequence>
			<xsd:element name="ProductItem" minOccurs="1" maxOccurs="9999">
				<xsd:complexType>
					<xsd:all>
						<!-- 發票日期 -->
						<xsd:element name="OriginalInvoiceDate" type="DateType"/>
						<!-- 發票號碼 -->
						<xsd:element name="OriginalInvoiceNumber" type="InvoiceNumberType"/>
						<!-- 原品名排列序號 -->
						<xsd:element name="OriginalSequenceNumber" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 原品名 -->
						<xsd:element name="OriginalDescription">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:minLength value="1"/>
									<xsd:maxLength value="500"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 數量 -->
						<xsd:element name="Quantity">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 單位 -->
						<xsd:element name="Unit" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 單價 -->
						<xsd:element name="UnitPrice">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="7"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 金額(不含稅之進貨額) -->
						<xsd:element name="Amount">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 營業稅額 -->
						<xsd:element name="Tax">
							<xsd:simpleType>
								<xsd:restriction base="xsd:decimal">
									<xsd:totalDigits value="20"/>
									<xsd:fractionDigits value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 折讓證明單明細排列序號 -->
						<xsd:element name="AllowanceSequenceNumber">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="4"/>
									<xsd:minLength value="1"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<!-- 課稅別 -->
						<xsd:element name="TaxType" type="TaxTypeEnum"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- 彙總資料 -->
	<xsd:complexType name="Amount">
		<xsd:all>
			<!-- 營業稅額合計 -->
			<xsd:element name="TaxAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="0"/>
						<xsd:minInclusive value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<!-- 金額(不含稅之進貨額)合計 -->
			<xsd:element name="TotalAmount">
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:totalDigits value="20"/>
						<xsd:fractionDigits value="0"/>
						<xsd:minInclusive value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
