ModelCore/Schema/TurnKey/E0502.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:GEINV:eInvoiceMessage:E0502:4.1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:GEINV:eInvoiceMessage:E0502:4.1"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:include schemaLocation="GenericType_4.0.xsd" />
  <!-- 進項發票 -->
  <xsd:element name="InputInvoice">
    <xsd:complexType>
      <xsd:all>
        <!-- Main -->
        <xsd:element name="Main" type="Main" />
        <!-- Details -->
        <xsd:element name="Details" type="Details" minOccurs="0" />
        <!-- Amount -->
        <xsd:element name="Amount" type="Amount" minOccurs="0" />
        <!-- Cancel -->
        <xsd:element name="Cancel" type="Cancel" minOccurs="0" />
        <!-- Reject -->
        <xsd:element name="Reject" type="Reject" minOccurs="0" />
      </xsd:all>
    </xsd:complexType>
  </xsd:element>
  <!-- 主檔資料 -->
  <xsd:complexType name="Main">
    <xsd:all>
      <!-- 發票號碼 -->
      <xsd:element name="InvoiceNumber" type="InvoiceNumberType" />
      <!-- 發票日期 -->
      <xsd:element name="InvoiceDate" type="DateType" />
      <!-- 發票時間 -->
      <xsd:element name="InvoiceTime" type="TimeType" />
      <!-- 發票當下狀態 -->
      <xsd:element name="CurrentStatus">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 營業類別 -->
      <!-- <xsd:element name="BusinessType">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element> -->
      <!-- 賣方統一編號 -->
      <xsd:element name="SellerId" type="BAN"/>
      <!-- 賣方名稱-->
      <xsd:element name="SellerName" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 買方統編 -->
      <xsd:element name="BuyerId" type="BAN"/>
      <!-- 買方名稱-->
      <xsd:element name="BuyerName" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 買方註記欄 -->
      <xsd:element name="BuyerRemark" type="BuyerRemarkEnum" minOccurs="0" />
      <!-- 總備註 -->
      <xsd:element name="MainRemark" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="200" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 通關方式註記 -->
      <xsd:element name="CustomsClearanceMark" type="CustomsClearanceMarkEnum" minOccurs="0" />
      <!-- 沖帳別 -->
      <xsd:element name="Category" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 相關號碼 -->
      <xsd:element name="RelateNumber" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 發票類別 -->
      <xsd:element name="InvoiceType" type="InvoiceTypeEnum" minOccurs="0" />
      <!-- 彙開註記 -->
      <xsd:element name="GroupMark" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[*]" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 捐贈註記 -->
      <xsd:element name="DonateMark" type="DonateMarkEnum" minOccurs="0" />
      <!-- 載具類別號碼 -->
      <xsd:element name="CarrierType" type="CarrierTypeEnum" minOccurs="0" />
      <!-- 載具顯碼Id -->
      <xsd:element name="CarrierId1" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 載具顯碼Id2 -->
      <xsd:element name="CarrierId2" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="400" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 紙本電子發票已列印註記 -->
      <xsd:element name="PrintMark" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:length value="1" />
            <xsd:pattern value="[YN]" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 發票捐贈對象 -->
      <xsd:element name="NPOBAN" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 發票防偽隨機碼 -->
      <xsd:element name="RandomNumber" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
            <xsd:pattern value="[0-9][0-9][0-9][0-9]" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 買受人簽署適用零稅率註記 (園區/保稅區/遠洋漁業使用確認 (B2B)) -->
      <xsd:element name="BondedAreaConfirm" type="BondedAreaEnum" minOccurs="0" />
    <!-- 零稅率原因 -->
    <xsd:element name="ZeroTaxRateReason" type="ZeroTaxRateReasonEnum" minOccurs="0"/>
      <!-- 保留欄位 -->
      <xsd:element name="Reserved1" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 保留欄位 -->
      <xsd:element name="Reserved2" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <!-- 明細資料-->
  <xsd:complexType name="Details">
    <xsd:sequence>
      <xsd:element name="ProductItem" minOccurs="1" maxOccurs="9999">
        <xsd:complexType>
          <xsd:all>
            <!-- 品名 -->
            <xsd:element name="Description">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="500" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 數量 -->
            <xsd:element name="Quantity">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="20" />
                  <xsd:fractionDigits value="7" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 單位 -->
            <xsd:element name="Unit" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="6" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 單價 -->
            <xsd:element name="UnitPrice">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="20" />
                  <xsd:fractionDigits value="7" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 課稅別 -->
            <xsd:element name="TaxType" type="TaxTypeEnum"/>
            <!-- 金額 -->
            <xsd:element name="Amount">
              <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="20" />
                  <xsd:fractionDigits value="7" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 明細排列序號 -->
            <xsd:element name="SequenceNumber">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="4" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 單一欄位備註 -->
            <xsd:element name="Remark" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="120" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <!-- 相關號碼 -->
            <xsd:element name="RelateNumber" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="50" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- 彙總資料 -->
  <xsd:complexType name="Amount">
    <xsd:all>
      <!-- 銷售額合計(新台幣) -->
      <xsd:element name="SalesAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 免銷售額合計(新台幣) -->
      <xsd:element name="FreeTaxSalesAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 零銷售額合計(新台幣) -->
      <xsd:element name="ZeroTaxSalesAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 課稅別 -->
      <xsd:element name="TaxType" type="TaxTypeEnum" />
      <!-- 稅率 -->
      <xsd:element name="TaxRate" type="TaxRateEnum"/>
      <!-- 營業稅 -->
      <xsd:element name="TaxAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 總計 -->
      <xsd:element name="TotalAmount">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 扣抵金額 -->
      <xsd:element name="DiscountAmount" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 原幣金額 -->
      <xsd:element name="OriginalCurrencyAmount" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="20" />
            <xsd:fractionDigits value="7" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 匯率 -->
      <xsd:element name="ExchangeRate" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="13" />
            <xsd:fractionDigits value="5" />
            <xsd:minInclusive value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 幣別 -->
      <xsd:element name="Currency" type="CurrencyCodeEnum" minOccurs="0" />
    </xsd:all>
  </xsd:complexType>
  <!-- 作廢資料 -->
  <xsd:complexType name="Cancel">
    <xsd:all>
      <!-- 作廢日期 -->
      <xsd:element name="CancelDate" type="DateType"/>
      <!-- 作廢時間 -->
      <xsd:element name="CancelTime" type="TimeType"/>
      <!-- 作廢原因 -->
      <xsd:element name="CancelReason">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 專案作廢核准文號 -->
      <xsd:element name="ReturnTaxDocumentNumber" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 作廢備註 -->
      <xsd:element name="CancelRemark" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="200" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    <!-- 跨域應用註記 -->
    <xsd:element name="Reserved1" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <!-- 跨域應用註記資料內容 -->
    <xsd:element name="Reserved2" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    </xsd:all>
  </xsd:complexType>
  <!-- 退回資料 -->
  <xsd:complexType name="Reject">
    <xsd:all>
      <!-- 退回日期 -->
      <xsd:element name="RejectDate" type="DateType" minOccurs="0" />
      <!-- 退回時間 -->
      <xsd:element name="RejectTime" type="TimeType" minOccurs="0" />
      <!-- 退回原因 -->
      <xsd:element name="RejectReason" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:minLength value="1" />
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <!-- 退回備註 -->
      <xsd:element name="RejectRemark" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:whiteSpace value="collapse" />
            <xsd:maxLength value="200" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    <!-- 跨域應用註記 -->
    <xsd:element name="Reserved1" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    <!-- 跨域應用註記資料內容 -->
    <xsd:element name="Reserved2" minOccurs="0">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:element>
    </xsd:all>
  </xsd:complexType>
</xsd:schema>
